# Build and IDE
build/
target/
.cache/
.vscode/
.idea/

# Logs and outputs
*.log
*.txt
!CMakeLists.txt
qemu_output*
qemu_run*

# Patch and script files
*.py
!scripts/*.py
*.patch

# Binaries and ISOs
*.iso
*.bin
*.out

# SXRC (To be integrated later)
*sxrc*
*SXRC*
